.error-container{
  background-color: #ffebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
}

.button-close{
  background-color: #ff0000;
  font-size: 0.6em;
}
