<div class="sort-box">
  <select 
    #select 
    (change)="onSelected($event)"
    class="sort-dropdown" 
  >
    <option value="name" class="sort-option" default>Sort by Name</option>
    <option value="createdAt" class="sort-option">Sort by Date</option>
    <option value="tasks" class="sort-option">Sort by Tasks</option>
  </select>
  
  <button 
  class="sort-az-button" 
  (click)="onOrderChange($event)"
  value="desc"
  >
    
    </button>
  <button 
  class="sort-za-button"
  (click)="onOrderChange($event)"
  value="asc"
  >
  </button>
</div>