.sort-box {
  display: flex;
  gap: 10px;
}

.sort-az-button {
  width: 40px;
  height: 40px;
  position: relative;

  &::after {
    content: "";
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="512" height="512"><path d="M23,22.5c0,.828-.671,1.5-1.5,1.5h-4.112c-.868,0-1.667-.472-2.087-1.23-.42-.758-.396-1.686,.064-2.421,.045-.072,3.858-4.349,3.858-4.349h-2.723c-.829,0-1.5-.672-1.5-1.5s.671-1.5,1.5-1.5h4.112c.868,0,1.667,.472,2.087,1.23,.42,.758,.396,1.686-.064,2.421-.045,.072-3.858,4.349-3.858,4.349h2.723c.829,0,1.5,.672,1.5,1.5Zm0-18.5v5.5c0,.828-.671,1.5-1.5,1.5s-1.5-.672-1.5-1.5v-1.5h-2v1.5c0,.828-.671,1.5-1.5,1.5s-1.5-.672-1.5-1.5V4c0-2.206,1.794-4,4-4s4,1.794,4,4Zm-2.5,1.5v-1.5c0-.828-.673-1.5-1.5-1.5s-1.5,.672-1.5,1.5v1.5h3ZM8.268,.689c-.974-.975-2.56-.975-3.529-.006L.945,4.434c-.589,.582-.594,1.532-.012,2.121,.583,.589,1.532,.595,2.122,.012l1.945-1.923V22.5c0,.828,.671,1.5,1.5,1.5s1.5-.672,1.5-1.5V4.643l1.945,1.923c.292,.289,.674,.434,1.055,.434,.387,0,.773-.148,1.067-.445,.582-.589,.577-1.539-.012-2.121L8.268,.689Z"/></svg>');
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(163deg) brightness(113%) contrast(101%);
    background-size: 60%;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    width: 40px;
    height: 40px;
    position: absolute;
  }
}
.sort-za-button {
  width: 40px;
  height: 40px;
  position: relative;

  &::after {
    content: "";
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="512" height="512"><path d="M23,22.5c0,.828-.672,1.5-1.5,1.5h-4.112c-.867,0-1.666-.471-2.087-1.229-.42-.759-.396-1.686,.062-2.421,.046-.073,3.859-4.351,3.859-4.351h-2.723c-.828,0-1.5-.672-1.5-1.5s.672-1.5,1.5-1.5h4.112c.867,0,1.666,.471,2.087,1.229,.42,.759,.396,1.686-.062,2.421-.046,.073-3.859,4.351-3.859,4.351h2.723c.828,0,1.5,.672,1.5,1.5Zm0-18.5v5.5c0,.828-.672,1.5-1.5,1.5s-1.5-.672-1.5-1.5v-1.5h-2v1.5c0,.828-.672,1.5-1.5,1.5s-1.5-.672-1.5-1.5V4c0-2.206,1.794-4,4-4s4,1.794,4,4Zm-2.5,1.5v-1.5c0-.828-.672-1.5-1.5-1.5s-1.5,.672-1.5,1.5v1.5h3Zm-10.555,11.934l-1.945,1.923V1.5c0-.828-.672-1.5-1.5-1.5s-1.5,.672-1.5,1.5V19.357l-1.945-1.923c-.588-.583-1.539-.578-2.121,.012-.583,.589-.577,1.539,.012,2.121l3.787,3.744c.488,.488,1.129,.731,1.77,.731s1.276-.242,1.76-.726l3.793-3.75c.589-.582,.595-1.532,.012-2.121-.582-.59-1.532-.595-2.121-.012Z"/></svg>');
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(163deg) brightness(113%) contrast(101%);
    background-size: 60%;
    top: 0;
    /* bottom: 0; */
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    width: 40px;
    height: 40px;
    position: absolute;
  }
}
