<div
  *ngIf="board"
  class="board"
  (pointerover)="controls = true"
  (pointerleave)="controls = false"
>
  <h3 class="board-heading">{{ board.name | uppercase }}</h3>
  <div class="board-description">{{ board.description }}</div>
  <div class="board-tasks" (click)="openTasksInfo($event)">
    <div>Tasks: {{ board.tasks ? board.tasks!.length : "0" }}</div>
    <div *ngIf="visible" class="board-task-statuses">
      <span
        ><b>to do</b>
        {{
          board.tasks ? (board.tasks! | taskStatus : "to do").length : "0"
        }}</span
      >
      <span
        ><b>in progress</b>
        {{
          board.tasks ? (board.tasks! | taskStatus : "in progress").length : "0"
        }}</span
      >
      <span
        ><b>done</b>
        {{
          board.tasks ? (board.tasks! | taskStatus : "done").length : "0"
        }}</span
      >
    </div>
  </div>
  <div class="board-date">
    Created: {{ board.createdAt | date : "mediumDate" }}
  </div>

  <div class="board-controls" *ngIf="controls">
    <button
      class="button-edit button"
      (click)="
        [
          $event.stopPropagation(),
          modalService.open(),
          changeMode('edit'),
          getBoard(board)
        ]
      "
      title="edit"
    >
      Edit
    </button>
    <button
      (click)="deleteBoard($event, board)"
      class="button-delete button"
      title="delete"
    >
      Delete
    </button>
  </div>
</div>
